a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    padding: 12px;
}

.alert-info {
    background-color: #ccffff;
    display: inline-block;
    text-decoration: none;
    color: black;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 8px;
    border: 2px solid lightgrey;
    text-align: center;
    font-size: small;

}

.hidden-on-desktop {

}

h1 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 10px;
}

.nav-links {
    list-style: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;

}

nav {
    width: 93%;
}

.header-img {

}

img {
    display: block;
    max-width: 100%;
    max-height: 224px;
}

.main {

}

.sub-section {
    font-style: italic;
}

li {
    padding: 15px;
    background: lightgrey;
    width: 100%;
    text-decoration: underline;
    text-align: center;
    margin: 5px;
}

footer {
    width: 100%;
    display: flex;
    font-size: small;
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {

    body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .alert-info {
        display: none;
    }

    li {
        background: white;
        padding: 0;
        width: 9%;
    }

    .nav-links {
        flex-flow: row nowrap;
        justify-content: flex-end;
    }

    nav {
        width: 50%;
        display: flex;

    }

    h1 {
        width: 50%;
    }

    img {
        display: block;
        max-width: 100%;
        max-height: 385px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .main {
        width: 50%;
        padding-right: 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .main h2 {
        margin-top: 0;
    }

    .sub-section {
        width: 36%;
        justify-content: flex-end;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .main p {
        padding-bottom: 15px;
    }

    .sub-section h2 {
        margin-top: 0;
    }
    .header-img {
        display: flex;
        width: 100%;
        justify-content: center;

    }
}



