a {
    text-decoration: none;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alert-info {
    background-color: lightcyan;
    display: inline-block;
    text-decoration: none;
    color: black;
    width: 100%;
    padding: 12px;
    border: 2px solid lightgrey;
    text-align: center;
    font-family: sans-serif;
}

.hidden-on-desktop {

}

.nav-links {

}

.header-img {

}

.main {

}

.sub-section {

}

/* Small devices (phones and pocket devices, 576 and up) */
@media screen and (min-width:576px) {

}


/* Large devices (desktops, 992px and up) */
@media screen and (min-width:992px) {

}

